body {
  background-color: black;
}

.lista  {
  height: min-content;
  background-color: rgb(39, 19, 110);
  padding: 1vw 1vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}

.cas {
  background-color: rgb(87, 39, 139);
  justify-content: center;
  width: min-content;
  padding: 1vw;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-self: end;
  font-size: clamp(25px, 2.5vw, 50px);
}

.login {
  justify-self: center;
  justify-content: center;
  align-self: center;
  font-size: clamp(25px, 3.5vw, 50px);
}

.username {
  justify-self: center;
  justify-content: center;
  align-self: center;
  font-size: clamp(25px, 3.5vw, 50px);
}